
html {
  scroll-behavior: smooth;
}

body {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

ul {
	border-radius: 5px;
	background-color: white;
	list-style-type: none;
	text-align: center;
	font-weight: 500;
	padding: 20px 10px 20px 10px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.09), 0 3px 3px rgba(0,0,0,0.15);
	color: #6e6e6e;
	margin-bottom: 20px;
}


.intropage ul {
	display: grid;
  	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	justify-content: center;

}

.flip {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}



.otherpage ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	color: #6e6e6e;
	margin-bottom: 20px;
}

.navbar-nav {
	background-color: whitesmoke;
	border: none;
	box-shadow: none;
}

.otherpage li {
margin: 1em;
display: grid;
grid-template-rows: 40px auto auto;
font-size: 36px;
grid-row-gap: 5px;
margin: .5em;
text-align: center;
line-height: 12px;
}

.intropage li {
margin: 1em;
display: grid;
grid-template-rows: 40px auto auto;
font-size: 36px;
grid-row-gap: 5px;
margin: .5em;
text-align: center;
line-height: 12px;
}

.contractions li {
	line-height: 36px;
}

.intropage li img {
margin-left: auto;
margin-right: auto;
}

.otherpage li img {
margin-left: auto;
margin-right: auto;
}

#scrolltop {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #D1B; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
box-shadow: 0 10px 20px rgb(0 0 0 / 9%), 0 3px 3px rgb(0 0 0 / 15%);
transition: .2s;
}

#scrolltop:hover {
  background-color: brown; 
  transition: .2s;
}

.salmon {
	border-top: 7px solid /*salmon*/ brown;
	border-radius: 5px;
}

.microcopy {
	display: none;
}

.decoderinput {
	width: 4em;
	display: grid;
	grid-template-rows: auto auto auto;
/*	grid-template-columns: 2em 2em;
*/	grid-auto-flow: column;
}

.decoderinput label {
/*	display: none;
*/}

.hidelabel {
	display: none;
}

.decoderinput li {
	border-radius: 2em;
}


#more,#more2 {
	display: none;
}


.betatag {
	display: none;
}

.navbar {
	padding: 0px;
	margin: 0px;
	margin-bottom: 2em;	
	padding-top: 1em;
}

.navbar-brand {
		border-bottom: solid 4px whitesmoke;
}

.navbar .container-fluid 
{  	
	padding: 0px;
	margin: 0px;
}

.active {
	border-bottom: solid 4px #B1B;
}

h1, h2, h3, h4, h5, h6, .site_slogan {
	text-align: center; 
	text-transform: capitalize; 
	margin-bottom: 1em;
	max-width: 900;
}



.decoderlayout {
	display: grid;
	grid-template-columns: auto 1fr;
	margin-top: 1em;
	grid-column-gap: 3em;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	padding: 2em;
	min-height: 14em;
	border-radius: 5px;
	background-color: white;
	box-shadow: 0 10px 20px rgba(0,0,0,0.09), 0 3px 3px rgba(0,0,0,0.15);
	color: #6e6e6e;
}

.decoderlayout div:nth-child(1) {
	grid-column: 1 / 2;
	padding-left: 1em;
	padding-top: 1em;
/*		background-color: red;*/

}

.decoderlayout div:nth-child(2) {
	grid-column: 2 / 3;
/*	background-color: yellow;
*/
}

.decoderlayout div:nth-child(2) h3 {
	padding: 0;
	margin: 0;
	text-align: left;
	text-transform: none;
}

.decoderlayout div:nth-child(3) p {
	margin-top: 1em;
}


.decoderlayout div:nth-child(3) h3 strong {
font-size: 1.5em;
font-weight: 100;
}

.contractions img 
{ 	border: 1px #E5E5E5 solid;
 }

 .salmon img 
{ 	border: 1px #E5E5E5 solid;
 }

img {
	border-radius: 2px;
	height: 100%;
}

.legal {
position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center;
bottom: 0;
opacity: .6;
font-size: 11px;
display: none;
}

textarea {
width: 100%;
border-radius: 5px;
background-color: white;
padding: 10px 10px 10px 10px;
box-shadow: 0 10px 20px rgb(0 0 0 / 9%), 0 3px 3px rgb(0 0 0 / 15%);
border: none;
min-height: 3em;
font-size: 10em;
font-family: 'MyWebFont', Fallback, sans-serif;
resize: vertical;
text-align: left;
padding: 11px 11px 1px 21px;
overflow-y: scroll;
line-height: .7em;
}

textarea:focus {
    box-shadow: 0 10px 20px rgb(0 0 0 / 9%), 0 3px 3px rgb(0 0 0 / 35%);
}


.contractions li div:nth-child(2) {
	font-size: 30px;
	font-family: 'Brailleblocks', Fallback, monospace;
	opacity: 0;
	transition: .5s;
	padding-bottom: 0px;
	line-height: 0px;
}

.contractions:hover li div:nth-child(2) {
	opacity: .8;
	transition: .5s;
	padding-bottom: 0px;
	line-height: 25px;
	padding-top: 10px;
}


.inline {
	display: inline;
	border-bottom: 1px solid;
	background-color: white;
	color: #D1B;
	float: right;
	border: none;
	background-color: whitesmoke;
}

.speedcontrol {
	display: inline-block;
}

.spaceafter {
	margin-bottom: 10em;
}

.braillewriter {
	min-height: 480px;
	font-size: 2em;
	font-family: monospace;
}

.prompter_container {
	grid-gap: 5em;
}

.prompter_container p {
/*margin: 0;*/
margin-left: 0;
}

.prompter_container h2 {
/*margin: 0;*/
margin-top: 2em;
}

.step2 img {
height: 480px;
background-color: white;
width: 100%;
margin-bottom: 1em;
}

#counter {
	display: inline;
}

.controlrow {
	display: grid;
	grid-template-columns: 1fr auto;
	margin-top: 1em;
}

.speedcontrol label {
	vertical-align: 50%;
	padding-right: 1em;
}

/*.prompter_container:nth-child(3) {
	background-color: blue;
}
*/
/* Base for label styling */




.titling_box h1 {
	margin-top: 1em;
	margin-bottom: 0;
}

.titling_box  {
	margin-bottom: 3em;
}

.titling_box a {
	color: #d1b;
}



body {
  font-family: "Open Sans", "Segoe WP", "Segoe UI", Helvetica, Arial, sans-serif;
  background-color: whitesmoke;
}

.indextoolbox {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto auto auto auto auto;
	background-color: transparent;
	box-shadow: none;
}

.indextoolbox a {
	color: black;
	height: 200px;
	border-radius: 12px;
	margin: 2em;
	padding: 2em;
	text-align: center;
	background-color: white;
	height: 13em;
	box-shadow: 0 10px 20px rgba(0,0,0,0.09), 0 3px 3px rgba(0,0,0,0.15);
	font-size: 20px;
	padding-bottom: 3em;
	transition: .2s;
	border: 10px solid white;
	transition: .2s;
}

.indextoolbox a:hover {
	background-color: white;
	text-decoration: none;
	transition: .2s;
	border: 10px solid #d1b;

}



p, .intro {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

.microcopycenter {
	text-align: center;
}

/*.refgrid ul {
display: grid;
grid-template-columns: auto auto;
}*/

.refgrid ul li {
line-height: 1em;
}

.indextoolbox {
	grid-template-columns: auto auto ;
	grid-template-rows: auto auto auto;
}

@media only screen and (min-width: 1000px)  {  /* - - - - - - - - - - - - - - - - - - 

/*  


 /$$$$$$$        /$$$$$$        /$$$$$$ 
| $$__  $$      |_  $$_/       /$$__  $$
| $$  \ $$        | $$        | $$  \__/
| $$$$$$$         | $$        | $$ /$$$$
| $$__  $$        | $$        | $$|_  $$
| $$  \ $$        | $$        | $$  \ $$
| $$$$$$$/       /$$$$$$      |  $$$$$$/
|_______/       |______/       \______/ 
                                                                                
*/


body {
	margin: 0 auto;
}

.introgrid {
		width: 900px;
}

.refgrid {
	display: flex;
	grid-template-columns: 1.5fr 1fr;
	grid-column-gap: 2em;
}

.refgrid ul {
	display: flex;
line-height: 20em;
grid-gap: .5em;
justify-content: end;
}

.lastly {
}

.refgrid ul li {
line-height: 1em;
}



.prompter_container {
	display: grid;
	grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr);
	grid-gap: 5em;
}

.prompter_container p {
/*margin: 0;*/
margin-left: 0;
}


.step1 {
/*	background-color: red;
*/	grid-column: 1 / 2;
margin: 0;
}

.step2 {
/*	background-color: yellow;
*/	grid-column: 2 / 3;
}


.indextoolbox {

	grid-template-rows: auto auto;
	grid-template-columns: auto auto auto;
}

/*img {
	border-radius: 4px;
}

li {
font-size: 40px;
grid-template-rows: 30px auto;
}

.contractions:hover li div:nth-child(2) {
font-size: 38px;
}*/



}

@media only screen and (min-width: 1600px)  {  /* - - - - - - - - - - - - - - - - - - 

/*  


 /$$$$$$$        /$$$$$$        /$$$$$$        /$$$$$$ 
| $$__  $$      |_  $$_/       /$$__  $$      /$$__  $$
| $$  \ $$        | $$        | $$  \__/     | $$  \__/
| $$$$$$$         | $$        | $$ /$$$$     | $$ /$$$$
| $$__  $$        | $$        | $$|_  $$     | $$|_  $$
| $$  \ $$        | $$        | $$  \ $$     | $$  \ $$
| $$$$$$$/       /$$$$$$      |  $$$$$$/     |  $$$$$$/
|_______/       |______/       \______/       \______/ 
                                                                                
*/


.betatag {
	display: inline;
	border: 1px solid;
	padding: 3px 6px 2px 6px;
	margin-right: 5px;
	color: red;
	font-size: 80%;
	text-transform: uppercase;
}

.microcopy {
	display: block;
	color: brown;
	font-size: 90%;
	text-align: center;
	line-height: 12px;
}

