@font-face {
  font-family: 'brailleone';
  src: url('braille_one.ttf'); /* IE9 Compat Modes */
  src: url('braille_one.ttf') format('truetype'), /* Safari, Android, iOS */

           font-weight: normal;
    font-style: normal;
}

.microcopy {
	color: brown;
	font-size: 90%;
	text-align: center;
}

.betatag {
	border: 1px solid;
	padding: 3px 6px 2px 6px;
	margin-right: 5px;
	color: red;
	font-size: 80%;
	text-transform: uppercase;

}



/*composer sheet*/

textarea {

/*margin-top: .1em;
margin-right: 0;
padding: 1px 11px 1px 11px;
background-color: white;
box-sizing: border-box;
min-height: 4em;
border-width: 1px;
border-radius: 3px;
color: black;
font-size: 10em;
font-family: 'MyWebFont', Fallback, sans-serif;
resize: vertical;
*/

/*font-variant-ligatures: discretionary-ligatures; 
*//*width: 100%;*/
/*background-color: transparent;*/


width: 100%;


border-radius: 5px;
    background-color: white;
    list-style-type: none;
    text-align: center;
    font-weight: 500;
    padding: 10px 10px 10px 10px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 9%), 0 3px 3px rgb(0 0 0 / 15%);
outline: none;
border: none;
min-height: 4em;
font-size: 10em;
font-family: 'MyWebFont', Fallback, sans-serif;
resize: vertical;
text-align: left;
padding: 1px 11px 1px 21px;
overflow-y: scroll;
}


textarea:focus {
/*border-width: 2px;
padding: 0 10px 0 10px;*/

/*padding: 9px;
padding-top: 49px;*/
    box-shadow: 0 10px 20px rgb(0 0 0 / 9%), 0 3px 3px rgb(0 0 0 / 35%);

}

label {
  display: none;
}
.flip {
  transform: rotateY(180deg);
}
.flip label {
  transform: rotateY(-180deg);
}
/* width */
::-webkit-scrollbar {
	width: 30px;
	background-color: #F5F5F5;
	padding: 3px;


}

/* Track */
::-webkit-scrollbar-track {
/*	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
*/	border-radius: 10px;
	background-color: #F5F5F5;
		margin-right: 1em;
	padding: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	    border: 8px solid rgba(0, 0, 0, 0);

	border-radius: 20px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
		margin-right: 1em;
	padding: 3px;
	    background-clip: padding-box;
	        -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);


}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: red;
}

::-webkit-resizer {
  background: black;
  width: 30px;
  	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
.content {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/*menu sheet*/
/* class applies to select element itself, not a wrapper element */
.select-css {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%; /* useful when width is set to anything other than 100% */
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    /* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient. 
        for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference
        
    */
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
    background-position: right .7em top 50%, 0 0;
    /* icon size, then gradient */
    background-size: .65em auto, 100%;
}
/* Hide arrow icon in IE browsers */
.select-css::-ms-expand {
    display: none;
}
/* Hover style */
.select-css:hover {
    border-color: #888;
}
/* Focus style */
.select-css:focus {
    border-color: #aaa;
    /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}

/* Set options to normal weight */
.select-css option {
    font-weight:normal;
}

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css {
    background-position: left .7em top 50%, 0 0;
    padding: .6em .8em .5em 1.4em;
}

/* Disabled styles */
.select-css:disabled, .select-css[aria-disabled=true] {
    color: graytext;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
}

.select-css:disabled:hover, .select-css[aria-disabled=true] {
    border-color: #aaa;
}

.prefix 
{ border-right: dotted 2px #e5e5e5;}


.suffix 
{ border-left: dotted 2px #e5e5e5; }


.inner 
{border-left: dotted 2px #e5e5e5; border-right: dotted 2px #e5e5e5;}

/* fonts */

/* smallest breakpoint */

/*


  /$$$$$$        /$$      /$$        /$$$$$$        /$$             /$$      
 /$$__  $$      | $$$    /$$$       /$$__  $$      | $$            | $$      
| $$  \__/      | $$$$  /$$$$      | $$  \ $$      | $$            | $$      
|  $$$$$$       | $$ $$/$$ $$      | $$$$$$$$      | $$            | $$      
 \____  $$      | $$  $$$| $$      | $$__  $$      | $$            | $$      
 /$$  \ $$      | $$\  $ | $$      | $$  | $$      | $$            | $$      
|  $$$$$$/      | $$ \/  | $$      | $$  | $$      | $$$$$$$$      | $$$$$$$$
 \______/       |__/     |__/      |__/  |__/      |________/      |________/
                                                                             
                                                                             
                                                                             

             */      


label {
	-webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}

.textboxcontrols {
	margin-top: 4px;
	display: grid;
	grid-template-columns: 1fr auto;
}

.textboxcontrols div {
	display: inline;
}

a {
	border-bottom: 2px solid white;
	text-decoration: none;
	transition: border-bottom .25s;
    transition: padding-bottom .25s;
}

.site_slogan {
	text-align: center;
	Font-Family: 'Old Standard TT', Serif;
	padding-top: 0;
	margin-top: 0;
}

span.line {
  display: inline-block;
}

h1 {
	margin-bottom: 0;
	padding-bottom: .2em;
	border: none;
}

h1 a {
	border: none;
}

.prompter_container 
{ background-color: white;
padding: 1em 4em 4em 4em; }

textarea {
/*	width: 100%;
	height: 10em;*/
}

button {
	color: white;
	border: none;
	padding: .5em;
	width: 5em;
	margin-right: 1em;
	border-radius: 3px;
	font-size: 16px;
}

#counter {
	margin-top: 6px;
	margin-bottom: 1em;
}


#textBox {
	font-size: 30px;
}




/*universal index items for nice index page- start*/

.btn {
	padding: 1em;
	margin: 1em;
	text-align: center;
	background-color: white;
	border-radius: 5px;
	border-top: 7px solid /*plum*/ brown;
	box-shadow: 0 10px 20px rgba(0,0,0,0.09), 0 3px 3px rgba(0,0,0,0.15);
}

.btn:hover {
	box-shadow: 0 10px 20px rgba(0,0,0,0.09), 0 1px 1px rgba(0,0,0,0.15);
	background-color: #EEE;
	padding: 1em;
	margin: .75em;
	transition: .1s;
}

.btn a {
border: none;
}

.btn a:hover {
border: none;
}

.btn img {
	width: 80%;
	border: none;
}

.btn p {
	margin-top: auto;
}


/*index page end*/







/* index small start*/



.index {
	display: grid;
/*	height: 600px;
	width: 580px;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);*/
	grid-template-columns: [title-start buttons-start] repeat(2, 47vw) [buttons-end title-end];
	grid-template-rows: [title-start] 10vh [title-end buttons-start] 26vh 26vh 26vh [ buttons-end];
}

.index h1 {
	font-size: 20px;
}

.index .site_slogan {
	font-size: 16px;
}

.titling_box {
	grid-area: title;
	text-align: center;
}

.btn {
	grid-area: buttons;
	grid-column: span 1;
	grid-row: span 1;
/*		margin-top: auto;
	margin-bottom: auto;*/
}

.btn a {
	margin-top: auto;
	margin-bottom: auto;
}

.btn p {
font-size: 14px;
}





/* index end*/





















#play {
	background-color: green;
}

#stop {
	background-color: red;
}

#restart {
	background-color: grey
}

.controlrowright {
	margin-top: 1em;
}

.legal {
	text-align: center;
	font-size: .75em;
	opacity: .75;
	margin-top: 3em;
	margin-left: auto;
	margin-right: auto;
}

/*a:hover {
	color: pink;
	padding-bottom: 2px;
	border-bottom: 3px solid pink;
    transition: border-bottom .15s;
    transition: padding-bottom .15s;
}*/

body {
Font-Family: 'Rubik', Sans-Serif;
	font-weight: 100;
	color: black;
	background-color: whitesmoke;
	padding-top: 10px;
/*    animation: mymove 20s normal forwards;*/
}

/*@keyframes mymove {
  from {background-color: #f9dc5a;}
  to {background-color: #FFF;}
}
*/

h1, h2, h3, h4, h5, h6 {
/*Font-Family: 'Cormorant Garamond', Serif;*/
Font-Family: 'Old Standard TT', Serif;
Font-Size: 55px;
text-align: center;
}

p {
font-weight: 300;
margin: 2em auto 1em auto;
/*Font-Family: 'Fira Sans', Sans-Serif;*/
Font-Family: 'Rubik', Sans-Serif;
Font-Size: 15px;
}

h1 {font-size: 32px;}
h2 {font-size: 24px;}
h3 {font-size: 30px; text-transform: uppercase; padding-top: 2em;}
h4 {font-size: 28px;}
h5 {font-size: 26px;}
h6 {font-size: 22px;}
p  {font-size: 18px;}
.site_slogan {	font-size: 20px; font-weight: 900;}

/*h3, .site_slogan {
	color: brown;
    animation: mymove2 20s normal forwards;
}
@keyframes mymove2 {
  from {color: brown;}
  to {color: #EEE;}
}*/
p, h1, h2, h4, h5, h6, li {
	color: black;
    animation: mymove3 20s normal forwards;
}

/*@keyframes mymove3 {
  from {color: black;}
  to {color: white;    filter: blur(1.5rem);}
}

p:hover, h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover, li:hover, .site_slogan:hover {
	color: black; 
    animation: none;
    filter: blur(3rem)  transition: 1s;
    transition: 1s;

}*/

img {
	border: 1px #E5E5E5 solid;
	border-radius: 2px;
/*	transition:all 0.2s ease;
    animation: mymove4 20s normal forwards;*/
}

.noborder
{
	border: none;
	border-radius: 2px;
}

/*@keyframes mymove4 {
  from {color: #E5E5E5;}
  to {color: #FFF;}
}*/

.plum {
	border-top: 7px solid /*plum*/ brown;
}

.salmon {
	border-top: 7px solid /*salmon*/ brown;
}

.gold {
	border-top: 7px solid brown;
}

.green {
	border-top: 7px solid /*#98f79f*/ brown;
}

.green {
	border-top: 7px solid /*#98f79f*/ brown;
}

/*.plum, .salmon, .gold, .green {
	animation: mymove5 20s normal forwards;
}
*/
@keyframes mymove5 {
	border-top: 7px solid;
  from {border-top: 7px solid brown;}
  to {border-top: 7px solid white;}
}


p {
	line-height: 1.6em;
	opacity: .9;
}

ul {
	border-radius: 5px;
	background-color: white;
	list-style-type:none;
	text-align: center;
	font-weight: 500;
	padding: 10px 10px 10px 10px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.09), 0 3px 3px rgba(0,0,0,0.15);
	display: grid;
	grid-row-gap: 30px; 
	grid-column-gap: 10px;
	margin: 10px auto;
}

.contractions {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 0 auto;
	color: red;

}

.ten {
	grid-template-columns: repeat(5, 80px);
	grid-template-rows: repeat(2, auto);
	width: 444px;
}

.nine {
	grid-template-columns: repeat(5, 80px);
	grid-template-rows: repeat(2, auto);
	width: 444px;

}

.eight {
	grid-template-columns: repeat(4, 80px);
	grid-template-rows: repeat(2, auto);
	width: 444px;
}

.seven {
	grid-template-columns: repeat(4, 80px);
	grid-template-rows: repeat(2, auto);
	width: 260px;
}

.six {
	grid-template-columns: repeat(3, 80px);
	grid-template-rows: repeat(2, auto);
	width: 440px;
}

.five {
	grid-template-columns: repeat(5, 80px);
	width: 444px;
}

.four {
	grid-template-columns: repeat(5, 80px);
	width: 260px;
}

.three {
	grid-template-columns: repeat(5, 80px);
	width: 440px;
}

.two {
	grid-template-columns: repeat(5, 80px);
	width: 125px;
}

.one {
	grid-template-columns: repeat(5, 80px);
	width: 80px;
}

.mobile6 {
	grid-template-columns: repeat(6, 58px);
	width: 444px;
}


.mobile8 {
	grid-template-columns: repeat(2, 58px);
	width: 444px;
}



.mobile10 {
	grid-template-columns: repeat(1, 58px);
	width: 444px;
}

.span1x {
	grid-column-start: 1;
}

.spanx1 {
	grid-column-end: 1;
}

.span2x {
	grid-column-start: 2;
}

.spanx2 {
	grid-column-end: 2;
}

.span3x {
	grid-column-start: 3;
}

.spanx3 {
	grid-column-end: 3;
}

.span4x {
	grid-column-start: 4;
}

.spanx4 {
	grid-column-end: 4;
}

.span5x {
	grid-column-start: 5;
}

.spanx5 {
	grid-column-end: 5;
}

.span6x {
	grid-column-start: 1;
}

.spanx6 {
	grid-column-end: 1;
}

.span7x {
	grid-column-start: 2;
}

.spanx7 {
	grid-column-end: 2;
}

.span8x {
	grid-column-start: 3;
}

.spanx8 {
	grid-column-end: 3;
}

.span9x {
	grid-column-start: 4;
}

.spanx9 {
	grid-column-end: 4;
}


.spanx0 {
	grid-column-end: -1;
}




li {
	color: #6e6e6e;
	font-size: 30px;
	padding: 5px 1em 5px 1em; 
	text-align: center;
	user-select: none;
	transition:all 0.2s ease;
}


li img {
	height: 25px;
}

li div:nth-child(2) img {
	height: 16px;
	border: none;
	padding: 0;
	margin: 0 2px;
}

h4 img { height: 20px; 
	background-color: yellow;
	border: black;
	margin-right: 1em;
/*	margin-right: .2em;
*/
	}


.contractions li div:nth-child(2) {
	font-size: 30px;
	font-family: 'Brailleblocks', Fallback, monospace;
/*	padding-left: 5px;
*/	opacity: 0;
	transition: .5s;
	padding-bottom: 0px;
	line-height: 0px;

}

.contractions:hover li div:nth-child(2) {
	opacity: 1;
	transition: .5s;
	padding-bottom: 0px;
	line-height: 25px;
}

.intro div:nth-child(2) {
	font-size: 16px;
	text-align: center;
}

/*ul li {
	transition: .5s;
	line-height: 36px;
}

ul:hover li {
	opacity: 1;
	transition: .5s;
	line-height: 24px;
}*/

/*li img:hover {
	border-radius: 6px;
	background-color: red;
	background-color: hsl(212, 100%, 20%);
	transition:all 0.2s ease;
	  filter: sepia(1) brightness(1) contrast(300%);

}*/

/*li:hover {
	border-radius: 6px;
	color: white;
	background-color: hsl(212, 100%, 20%);
	transition:all 0.2s ease;
}*/


/*li:hover img {
	border: 1px grey solid;
	fill: white;
	height: 30px;
	transition:all 0.2s ease;
}*/

/*li:hover img {
;
}*/



@media (min-width: 550px) { /*------------------------------------*/

/*


 /$$      /$$     /$$$$$$$$     /$$$$$$$      /$$$$$$     /$$   /$$     /$$      /$$
| $$$    /$$$    | $$_____/    | $$__  $$    |_  $$_/    | $$  | $$    | $$$    /$$$
| $$$$  /$$$$    | $$          | $$  \ $$      | $$      | $$  | $$    | $$$$  /$$$$
| $$ $$/$$ $$    | $$$$$       | $$  | $$      | $$      | $$  | $$    | $$ $$/$$ $$
| $$  $$$| $$    | $$__/       | $$  | $$      | $$      | $$  | $$    | $$  $$$| $$
| $$\  $ | $$    | $$          | $$  | $$      | $$      | $$  | $$    | $$\  $ | $$
| $$ \/  | $$    | $$$$$$$$    | $$$$$$$/     /$$$$$$    |  $$$$$$/    | $$ \/  | $$
|__/     |__/    |________/    |_______/     |______/     \______/     |__/     |__/
                                                                                              
                                                                                              
*/                                                                                              




body {
	/*background-color: forestgreen;*/
	width: 500px;
	margin: 0 auto;
}

body .locked {
	overflow: hidden;
}


main {
	margin: 0 auto;
	padding-bottom: 10em;
}

h1 {font-size: 38px;}
h2 {font-size: 30px;}
h3 {font-size: 30px;}
h4 {font-size: 28px;}
h5 {font-size: 26px;}
h6 {font-size: 22px;}
p  {font-size: 19px;}
.site_slogan {	font-size: 22px;}
.index h1 {	font-size: 38px;}
.index .site_slogan {	font-size: 22px;}




















/* index start*/



.index {
	display: grid;
	height: 600px;
	width: 580px;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	grid-template-columns: [title-start buttons-start] repeat(3, 12em) [buttons-end title-end];
	grid-template-rows: [title-start] 10em [title-end buttons-start] 12em 12em [ buttons-end];
}

.titling_box {
	grid-area: title;
	text-align: center;
}

.btn {
	grid-area: buttons;
	grid-column: span 1;
	grid-row: span 1;
}

.btn p {
font-size: 16px;}





/* index end*/



















/*.ten {
	grid-template-columns: repeat(5, 80px);
	grid-template-rows: repeat(2, auto);
	width: 444px;
}

.nine {
	grid-template-columns: repeat(5, 80px);
	grid-template-rows: repeat(2, auto);
	width: 444px;
}

.eight {
	grid-template-columns: repeat(4, 80px);
	grid-template-rows: repeat(2, auto);
	width: 354px;
}

.seven {
	grid-template-columns: repeat(4, 80px);
	grid-template-rows: repeat(2, auto);
	width: 354px;
	background-color: yellow;

}

.six {
	grid-template-columns: repeat(3, 80px);
	grid-template-rows: repeat(2, auto);
	width: 309px;
}

.five {
	grid-template-columns: repeat(5, 80px);
	grid-template-rows: repeat(1, auto);
	width: 444px;
}

.four {
	grid-template-columns: repeat(5, 80px);
	width: 354px;
}

.three {
	grid-template-columns: repeat(5, 80px);
	width: 264px;
}

.two {
	grid-template-columns: repeat(5, 80px);
	width: 174px;
}

.one {
	grid-template-columns: repeat(5, 80px);
	width: 84px;
}

.mobile10 {
	grid-template-columns: repeat(5, 80px);
	width: 444px;
}

.flex {
	display: flex;
	background-color: red;
}
*/

@media (min-width: 1100px) {  /* - - - - - - - - - - - - - - - - - - */

                                                         




/*  


 /$$$$$$$        /$$$$$$        /$$$$$$ 
| $$__  $$      |_  $$_/       /$$__  $$
| $$  \ $$        | $$        | $$  \__/
| $$$$$$$         | $$        | $$ /$$$$
| $$__  $$        | $$        | $$|_  $$
| $$  \ $$        | $$        | $$  \ $$
| $$$$$$$/       /$$$$$$      |  $$$$$$/
|_______/       |______/       \______/ 
                                        
                                        
                                        
*/


body {
/*	background-color: purple;
*/	width: 950px;
	margin: 0 auto;
}

.index {
	width: 90%;
	grid-template-columns: [center-start] repeat(6, 1fr) [buttons-end center-end];
	grid-template-rows: [center-start] 10em [buttons-start] 1fr [center-end buttons-end];
	display: grid;
}

.buttons {
	background-color: green;
	grid-area: buttons;
}

.buttons li {
	background-color: orange;
}







/*this is only for index - start here*/



.index {
	display: grid;
	height: 500px;
	width: 1100px;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	grid-template-columns: [title-start buttons-start] repeat(5, 14em) [buttons-end title-end];
	grid-template-rows: [title-start] 10em [title-end buttons-start] 14em [ buttons-end];
}

.titling_box {
	grid-area: title;
	text-align: center;
}

.btn {
	grid-area: buttons;
	grid-column: span 1;
}




/*this is only for index - ends here*/































/*.index_btn {
	background-color: red;
	grid-area: buttons;
}*/

h1 {font-size: 45px;}
h2 {font-size: 36px;}
h3 {font-size: 30px;}
h4 {font-size: 28px;}
h5 {font-size: 26px;}
h6 {font-size: 22px;}
p  {font-size: 18px;}

.contractions {
	grid-template-columns: 1fr 1fr 1fr;
	width: 900px;
	color: red;
}

.ten {
	grid-template-columns: repeat(10, 80px);
	grid-template-rows: repeat(1, auto);
	width: 890px;
}

.nine {
	grid-template-columns: repeat(10, 80px);
	grid-template-rows: repeat(1, auto);
	width: 805px;
}

.eight {
	grid-template-columns: repeat(8, 80px);
	grid-template-rows: repeat(1, auto);
	width: 720px;
}

.seven {
	grid-template-columns: repeat(8, 80px);
	grid-template-rows: repeat(1, auto);
	width: 627px;
}

.six {
	grid-template-columns: repeat(6, 80px);
	grid-template-rows: repeat(1, auto);	
	width: 535px;
}

.five {
	grid-template-columns: repeat(5, 80px);
	grid-template-rows: repeat(1, auto);
	width: 444px;
}

.four {
	grid-template-columns: repeat(5, 80px);
	width: 350px;
}

.three {
	grid-template-columns: repeat(5, 80px);
	width: 264px;
}

.two {
	grid-template-columns: repeat(5, 80px);
	width: 174px;
}

.one {
	grid-template-columns: repeat(5, 80px);
	width: 84px;
}

.uz_grid {
	grid-template-columns: repeat(5, 80px);
}


.span1x {
	grid-column-start: 1;
}

.spanx1 {
	grid-column-end: 1;
}

.span2x {
	grid-column-start: 2;
}

.spanx2 {
	grid-column-end: 2;
}

.span3x {
	grid-column-start: 3;
}

.spanx3 {
	grid-column-end: 3;
}

.span4x {
	grid-column-start: 4;
}

.spanx4 {
	grid-column-end: 4;
}

.span5x {
	grid-column-start: 5;
}

.spanx5 {
	grid-column-end: 5;
}

.span6x {
	grid-column-start: 6;
}

.spanx6 {
	grid-column-end: 6;
}

.span7x {
	grid-column-start: 7;
}

.spanx7 {
	grid-column-end: 7;
}

.span8x {
	grid-column-start: 8;
}

.spanx8 {
	grid-column-end: 8;
}

.span9x {
	grid-column-start: 9;
}

.spanx9 {
	grid-column-end: 9;
}


.spanx0 {
	grid-column-end: -1;
}


