* {
	font-family: 'Merriweather', sans-serif;
}

html {
	scroll-behavior: smooth;
	font-size: 16px;
}

body {
	width: 100%;
	margin: 0 auto;
  	font-family: "Overpass", "Segoe WP", "Segoe UI", Helvetica, Arial, sans-serif;
  	background-color: whitesmoke;
}

section {
	max-width: 900px;
	width: 90%;
	margin: 0 auto;
}

img {
	margin: 0 auto;
	border: 4px #E5E5E5 solid;
	border-radius: 8px;
	height: 225%;
	width: auto;
}

/* these apply to capital section img only */
.bigWord {
	width: 60%;
	max-width: 90%;
	height: auto;
	margin: 0 auto;
}

/* this applies to only the radical img */
.radical {
	width: 90%;
	height: auto;
}

p {
	font-size: 1rem;
	padding: 0.5rem;
}

h1, h2, h3, h4, h5, h6 { 
	text-align: center; 
	text-transform: capitalize; 
	margin-top: 2rem;
	margin-bottom: 1rem;
	max-width: 900;
 	font-family: 'Francois One', sans-serif;
}

h1 { font-size: 3rem;  }
h2 { font-size: 2.5rem;  }
h3 { font-size: 2rem;  }
h4 { font-size: 1.5rem;  }
h5 { font-size: 1.25rem;  }
h6 { font-size: 1.1rem;  }

a {
	color: #b1b;
}

a:hover {
	color: #b1b;
	text-decoration: underline;
}

nav {
	font-size: 1rem;
}

ul {
	border-radius: 5px;
	background-color: white;
	list-style-type: none;
	text-align: center;
	font-weight: 500;
	padding: 1rem .75rem;
	box-shadow: 0 10px 20px rgba(0,0,0,0.09), 0 3px 3px rgba(0,0,0,0.15);
	color: #222;
	margin-bottom: 20px;
}

button.navbar-toggler {
	padding-right: 2rem;
}

.ham_icon {
	width: 100%;
	height: auto;
}

.navbar {
	padding: 0px;
	margin: 0px;
	margin-bottom: 2rem;	
	padding-top: 2rem;
}

.navbar-brand {
	border-bottom: solid 4px whitesmoke;
}

.navbar .container-fluid {  	
	padding: 0px;
	margin: 0px;
}

.dropdown-menu {
	font-size: 1rem;
	background-color: whitesmoke;
	border: none;
	text-align: center;
}

.navbar-nav {
	background-color: whitesmoke;
	border: none;
	box-shadow: none;
}

.active {
	border: solid 10px #B1B;
	border-radius: 10px;
}

.dropdown .active {
	border: none;
}

/*skip content link for accessibility*/
.skiplink {
	color: whitesmoke;
}

.skiplink:focus {
	padding: 6px 6px 2px 6px;
	border-radius: 4px;
	background-color: #b1b;
	color: white;
	outline: none;
}

/*scroll to top button that appears when the user scrolls down*/
#scrolltop {
	display: none; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */
	bottom: 10px; /* Place the button at the bottom of the page */
	right: 10px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color: #D1B; /* Set a background color */
	color: white; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 5px; /* Some padding */
	border-radius: 5px; /* Rounded corners */
	font-size: 2rem; /* Increase font size */
	box-shadow: 0 10px 20px rgb(0 0 0 / 9%), 0 3px 3px rgb(0 0 0 / 15%);
	transition: .2s;
}

#scrolltop:hover {
  background-color: purple; 
  transition: .2s;
}


/*infostrips are the white boxes with purple piping, 
these contain the braille translations.
To look good on mobile, the default display is two items wide. 
This will be overridden with some special classes below, 
which show more items side by side*/
.infostrip {
	display: grid;
  	grid-template-columns: repeat(1, 1fr);
	justify-content: center;
	font-size: 2rem;
	border-top: 20px solid #b1b;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	grid-row-gap: 1rem;
}

/*within the info strip, this is the cluster of each braille image, 
its letter translation (when available), and the word translation*/
.infostrip li {
	margin: 1rem;
	display: grid;
	grid-template-rows: 40px auto auto; /*image, letter translation, word translation*/
	grid-row-gap: 2rem;
	text-align: center;
}

/*letter translation*/
/*used on one some infostrips (contractions at the bottom), 
this is the letter translation that sits
below the image and above the word translation*/
.infostrip li div:nth-child(2) {
	font-family: 'Brailleblocks', Fallback, monospace;
	opacity: .8;
	padding-top: 4.5rem;
	padding-bottom: 0rem;
	line-height: 1;
	font-size: 2.8rem;
	/*1rem on lg*/
}



/*this is for "read more" & "read less" button on some paragraphs*/
.inline {
	display: inline;
	border-bottom: 1px solid;
	background-color: white;
	color: #D110B1;
	float: right;
	border: none;
	background-color: whitesmoke;
}
.inline:hover {
	cursor: pointer;
	text-decoration: underline;
}

#more,#more2 {
	display: none;
}

/*line of legal at the bottom*/
.legal {
	margin: 0 auto;
	text-align: center;
	bottom: -100px;
	opacity: .6;
	font-size: 1rem;
	margin-top: 50px;
	margin-bottom: 25px;
}

@media (orientation: landscape) {
	.ham_icon {
		width: 100%;
	}	
}

@media (orientation: portrait) {
	img {
		height: 200%;
		width: auto;
	}

	.bigword {
		width: 40%;
		height: auto;
	}
}


@media screen and (min-width: 500px) {
	img {
		height: 200%;
		width: auto;
	}

	nav {
		font-size: 1.5rem;
	}

	.navbar-brand {
		padding-left: 0.5rem;
	}

	.dropdown-menu {
		font-size: 1.25rem;
	}

	.general {
		grid-template-columns: repeat(3, 1fr);
	}
	
	.letters, .lastLetters, .numbers {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 600px) {
	img {
		height: 175%;
		width: auto;
	}

	.bigWord {
		height: 200%;
		width: auto;
	}

	.italics, .currency, .contractions {
		grid-template-columns: repeat(2, 1fr);
	}

	.contractions img {
		height: 150%;
		width: auto;
	}
}

@media screen and (min-width: 800px) {
	section {
		max-width: 900px;
		margin: 0 auto;
	}

	.bigWord {
		height: 200%;
		width: auto;
	}

	.special {
		grid-template-columns: repeat(2, 1fr);
	}

	.lastLetters {
		grid-template-columns: repeat(3, 1fr);
	}

	.letters, .numbers {
		grid-template-columns: repeat(5, 1fr);
	}
}

@media screen and (min-width: 989px) {


	.capitals {
		grid-template-columns: repeat(2, 1fr);
	}

	.contractions {
		grid-template-columns: repeat(3, 1fr);
	}

	.italics, .currency {
		grid-template-columns: repeat(5, 1fr);
	}

	.lastLetters {
		grid-template-columns: repeat(6, 1fr);
	}

	.letters {
		grid-template-columns: repeat(10, 1fr);
	}

	nav {
		font-size: 1.25rem;
	}

	.navbar {
		padding: 0px;
		margin: 0px;
		margin-bottom: 2rem;	
		padding-top: 2rem;
	}
	
	.navbar-brand {
		border-bottom: solid 4px whitesmoke;
		padding-left: 3rem;
		font-size: 1.6rem;
	}
	
	.navbar .container-fluid {  	
		padding: 0px;
		margin: 0px;
	}
	
	.dropdown-menu {
		font-size: 1.25rem;
		background-color: whitesmoke;
		border: none;
		text-align: center;
	}
	
	.navbar-nav {
		background-color: whitesmoke;
		border: none;
		box-shadow: none;
	}
	
	.active {
		border: none;
		border-bottom: solid 2px #B1B;
	}
	
	.dropdown .active {
		border: none;
	}
}



/* From this point down are some styles that only affect certain devices.  This was the only way I could get the font and image sizes to look right across all sizes and types of device */
/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 3) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 3) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 3) {

}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 3) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 3) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 3) {

}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 3) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 834px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 3) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1112px) 
  and (max-device-width: 1112px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 3) {

}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 3) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 3) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1366px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 3) {

}

/* ----------- Galaxy Tab 2 ----------- */

/* Portrait and Landscape */
@media 
  (min-device-width: 800px) 
  and (max-device-width: 1280px) {

}

/* Portrait */
@media 
  (max-device-width: 800px) 
  and (orientation: portrait) { 

}

/* Landscape */
@media 
  (max-device-width: 1280px) 
  and (orientation: landscape) { 

}

/* ----------- Galaxy Tab S ----------- */

/* Portrait and Landscape */
@media 
  (min-device-width: 800px) 
  and (max-device-width: 1280px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media 
  (max-device-width: 800px) 
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Landscape */
@media 
  (max-device-width: 1280px) 
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) { 

}





